@import "/reset.css";

@font-face {
  font-family: 'entypo-social';
  src: url('entypo-social.eot');
  src: url('entypo-social.eot?#iefix') format('embedded-opentype'),
    url('entypo-social.woff') format('woff'),
    url('entypo-social.ttf') format('truetype'),
    url('entypo-social.svg#entypo-social') format('svg');
  font-weight: normal;
  font-style: normal;
}

$main-bg-colour: #ffffff;
$main-font-colour: #444444;
$link-colour: #777777;
$link-hover-colour: #999999;

html, body {
  font: {
    family: "Merriweather", serif;
    size: 16px;
  }
  background: $main-bg-colour;
  color: $main-font-colour;
}

a {
  color: $link-colour;
  text-decoration: none;
  border-bottom: 1px solid $link-colour;
  &:hover {
    color: $link-hover-colour;
    border-bottom: 1px solid $link-hover-colour;
  }
}

#container {
  margin: 0 auto;
  width: 800px;
}

h1.name {
  font-size: 100px;
  font-weight: bold;
  margin-top: 160px;
  margin-bottom: 20px;
  text-align: center;
}

div {
  text-align: center;
}

div#links {
  font-family: "entypo-social";
  font-size: 70px;
  margin-top: 30px;
  a {
    color: $main-font-colour;
    text-decoration: none;
    border-bottom: none;
    &:hover {
      color: $link-colour;
    }
  }

}
