@import "/reset.css";

@font-face {
  font-family: 'jdennes';
  src: url('jdennes.eot');
  src: url('jdennes.eot?#iefix') format('embedded-opentype'),
    url('jdennes.woff') format('woff'),
    url('jdennes.ttf') format('truetype'),
    url('jdennes.svg#jdennes') format('svg');
  font-weight: normal;
  font-style: normal;
}

$main-bg-colour: #ffffff;
$main-font-colour: #444444;
$link-colour: #777777;
$link-hover-colour: #999999;

html, body {
  font: {
    family: "Merriweather", serif;
    size: 20px;
  }
  background: $main-bg-colour;
  color: $main-font-colour;
  text-align: center;
}

a {
  color: $link-colour;
  text-decoration: none;
  border-bottom: 1px solid $link-colour;
  &:hover {
    color: $link-hover-colour;
    border-bottom: 1px solid $link-hover-colour;
  }
}

#container {
  margin: 0 auto;
  width: 800px;
}

div#photo {
  margin-top: 40px;
  img#avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }
}

h1.name {
  font-size: 68px;
  font-weight: bold;
  margin-top: 35px;
  margin-bottom: 35px;
}

div#summary {
  width: 600px;
  font-size: 20px;
  line-height: 28px;
  margin: 0 auto;
}

div#links {
  font-family: "jdennes";
  font-size: 35px;
  margin-top: 40px;
  a {
    color: $main-font-colour;
    text-decoration: none;
    border-bottom: none;
    &:hover {
      color: $link-colour;
    }
    margin: 0 6px;
  }
}

span.weather-icon {
  font-family: "jdennes";
  font-size: 24px;
  cursor: pointer;
  a {
    color: $main-font-colour;
    text-decoration: none;
    border-bottom: none;
    &:hover {
      color: $link-colour;
    }
  }
}
