@import "/reset.css";

$main-bg-colour: #111;
$main-font-colour: #5c5c5c;
$link-colour: #06c;
$link-underline-colour: #3d3d3d;
$lighter-grey: #707070;
$alternate-link-colour: #66b2ff;

html, body {
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  background: $main-bg-colour;
  color: $main-font-colour;
}

a {
  color: $link-colour;
  text-decoration: none;
  border-bottom: 1px solid $link-underline-colour;
  &:hover { border-bottom-color: $lighter-grey; }
}

#container {
  margin: 0 auto;
  padding: 0 30px;
  width: 795px;
}

#header {
  h1 {
    letter-spacing: -0.05em;
    font: { weight: bold; size: 3.5em; }
    a { border: none; }
    text-shadow: $link-underline-colour 1px 1px 1px;
  }
}

h2 {
  font: { weight: bold; size: 1.5em; }
}

#content {
  margin: 10px 0;
  margin-bottom: 10px;
}

#intro {
  margin-top: 10px;
}

#nav {
  display: block;
  clear: both;
  overflow: auto;
  margin: 10px auto 4px auto;
  border-bottom: 1px solid $link-underline-colour;
  ul {
    list-style: none;
    li {
      display: inline;
      font-size: 20px;
      float: left;
      a {
        float: left;
        margin: 0 18px 0 0;
        padding: 0 0 10px 0;
        border: none;
        &:hover {
          color: $alternate-link-colour;
          border-bottom: 4px solid $link-underline-colour;
        }
      }
      a.current {
        color: $alternate-link-colour;
        border-bottom: 4px solid $alternate-link-colour;
      }
    }
  }
}

#jscontent {
  #snapping, #reading, #tweeting, #listening, #coding, #running {
    display: none;
    p { font-size: 14px; margin: 16px 0 20px 0; }
  }
  #snapping .content {
    a { border: none; }
    img { width: 75px; height: 75px; font-size: 8px; margin: 0 4px 4px 0; }
  }
  #reading .content {
    li {
      line-height: 20px;
      margin-bottom: 10px;
      span.item-details {
        color: $lighter-grey;
        font-size: 14px;
        padding-top: 6px;
      }
    }
  }
}

#footer {
  padding: 6px 0;
  border-top: 1px solid $link-underline-colour;
  font-size: 13px;
}