@import "/reset.css";

$main-bg-colour: #111;
$main-font-colour: #5c5c5c;
$link-colour: #06c;
$link-shadow-colour: #05a;
$link-underline-colour: #3d3d3d;
$link-hover-underline-colour: #5f5f5f;

* {
  margin: 0;
  padding: 0;
}

html, body {
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  }
  background: $main-bg-colour;
  color: $main-font-colour;
}

a {
  color: $link-colour;
  text-decoration: none;
  border-bottom: 1px solid $link-underline-colour;
  &:hover { border-bottom-color: $link-hover-underline-colour; }
}

#container {
  margin: 0 auto;
  padding: 0 30px;
  width: 795px;
}

#header {
  h1 {
    font: {
      weight: bold;
      size: 3.8em;
    }
    a { border: none; }
    text-shadow: $link-hover-underline-colour 1px 1px 1px;
  }
}

h2 {
  font: {
    weight: bold;
    size: 1.5em;
  }
}

#content {
  margin: 10px 0;
  margin-bottom: 10px;
}

#intro {
  margin-top: 10px;
}

#nav {
  display: block;
  clear: both;
  overflow: auto;
  margin: 10px auto 4px auto;
  line-height: 20px;
  ul {
    list-style: none;
    li {
      line-height: 20px;
      float: left;
      padding: 6px 14px 6px 0;
      a.current { border-bottom-color: $link-hover-underline-colour; }
    }
  }
}

#jscontent {
  padding: 6px 0;
  #snapping, #reading, #tweeting, #listening, #coding, #running {
    display: none;
    p { font-size: 14px; }
    .content {}
  }
}

#footer {
  padding: 6px 0;
  border-top: 1px solid $link-underline-colour;
  font-size: 13px;
}