#jscontent
  #snapping
    %p
      ="&rarr; Photos I take (mostly using an iPhone 3GS) and share on"
      %a{:href => "http://www.flickr.com/photos/jdennes", :target => "_blank"}="Flickr"
      ="..."
    .content
  #reading
    %p
      ="&rarr; Things I read and share using"
      %a{:href => "http://www.google.com/reader/shared/jdennes", :target => "_blank"}="Google Reader"
      ="..."
    .content
  #tweeting
    %p
      ="&rarr; Things I say on"
      %a{:href => "http://twitter.com/jdennes", :target => "_blank"}="Twitter"
      ="..."
    .content{:id => "tweets"}
  #listening
    %p
      ="&rarr; Music I listen to and share using"
      %a{:href => "http://www.last.fm/user/jdennes", :target => "_blank"}="Last.fm"
      ="..."
    .content
  #coding
    %p
      ="&rarr; Code I write and share on"
      %a{:href => "https://github.com/jdennes", :target => "_blank"}="GitHub"
      ="..."
    .content
  #running
    %p
      ="&rarr; Runs that I track and share using"
      %a{:href => "http://www.dailymile.com/people/jdennes/", :target => "_blank"}="dailymile"
      ="..."
    .content