#jscontent
  #snapping
    %p
      ="&rarr; Photos I take and share on"
      %a{:href => "http://www.flickr.com/photos/jdennes", :target => "_blank"}="Flickr"
      ="..."
    .content
  #listening
    %p
      ="&rarr; Music I listen to and share using"
      %a{:href => "http://www.last.fm/user/jdennes", :target => "_blank"}="Last.fm"
      ="..."
    .content