#nav
  %ul
    %li
      %a{:id => "a-snapping", :href => "#snapping"}="snapping"
    %li
      %a{:id => "a-reading", :href => "#reading"}="reading"
    %li
      %a{:id => "a-tweeting", :href => "#tweeting"}="tweeting"
    %li
      %a{:id => "a-listening", :href => "#listening"}="listening"
    %li
      %a{:id => "a-coding", :href => "#coding"}="coding"
    %li
      %a{:id => "a-running", :href => "#running"}="running"
