%h1.name
  James Dennes

#about
  I make things on the web, ride skateboards, work at <a href='http://www.campaignmonitor.com/' target='_blank'>Campaign Monitor</a>, and live in Berlin.
  %span.weather-icon

#links
  <a href='https://github.com/jdennes/' title='My code on GitHub' target='_blank'>&#xe01b;</a>
  <a href='http://blog.jdenn.es/' title='My blog on Tumblr' target='_blank'>&#xe01c;</a>
  <a href='http://www.flickr.com/photos/jdennes/' title='My photos on Flickr' target='_blank'>&#xe023;</a>
  <a href='http://instagram.com/jdennes/' title='My photos on Instagram' target='_blank'>&#xe021;</a>
  <a href='https://twitter.com/jdennes/' title='My tweets on Twitter' target='_blank'>&#xe01f;</a>
  <a href='http://www.linkedin.com/in/jdennes' title='My projects on LinkedIn' target='_blank'>&#xe01d;</a>
  <a href='https://soundcloud.com/jdennes/' title='Music I listen to on SoundCloud' target='_blank'>&#xe01e;</a>
  <a href='http://www.last.fm/user/jdennes/' title='Music I listen to on Last.fm' target='_blank'>&#xe022;</a>
  <a href='https://www.facebook.com/jdennes' title='My presence on Facebook' target='_blank'>&#xe020;</a>
