#intro
  ="I run. I code. I skateboard. I'm a vegetarian. I work at"
  %a{:href => "http://www.campaignmonitor.com/", :target => "_blank"}="Campaign Monitor"
  =". Find out more below! :)"

= partial :nav

= partial :jscontent