#intro
  ="I run. I code. I skateboard. I'm a vegetarian. I work at"
  %a{:href => "http://www.campaignmonitor.com/", :target => "_blank"}="Campaign Monitor"
  =". I have fun. :)"

#nav
  %ul
    %li
      %a{:href => "#snapping"}="snapping"
    %li
      %a{:href => "#reading"}="reading"
    %li
      %a{:href => "#tweeting"}="tweeting"
    %li
      %a{:href => "#listening"}="listening"
    %li
      %a{:href => "#coding"}="coding"
    %li
      %a{:href => "#running"}="running"

#jscontent
  ="This is where stuff changes according to what's clicked..."
