!!!
%html
  %head
    %title="Hey, I'm James Dennes"
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{:href => '/screen.css', :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => "text/javascript", :src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"}
    %script{:type => "text/javascript", :src => "/js/flickr.js"}
    %script{:type => "text/javascript", :src => "/js/greader.js"}
    %script{:type => "text/javascript", :src => "/js/dailymile.js"}
    %script{:type => "text/javascript", :src => "/js/jd.js"}
  %body
    #container
      #header
        %h1
          %a{:href => '/'}="Hey, I'm James Dennes"
        #intro
          I run. I code. I skateboard. I'm a vegetarian. I work at <a href="http://www.campaignmonitor.com/" target="_blank">Campaign Monitor</a>. I have fun!
        
      #content= yield
      #footer
        I made this using things like <a href="http://www.ruby-lang.org/" target="_blank">Ruby</a>, <a href="http://www.sinatrarb.com/" target="_blank">Sinatra</a>, and <a href="http://www.jquery.com/" target="_blank">jQuery</a>. All the code is freely available on <a href="https://github.com/jdennes/jdenn.es" target="_blank">GitHub</a>.
