!!!
%html
  %head
    %title="James Dennes"
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{:href => "/screen.css?v=#{media_version}", :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
    %script{:type => "text/javascript", :src => "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"}
    -if production? 
      %script{:type => "text/javascript", :src => "/js/jd.min.js?v=#{media_version}"}
      = partial :google_analytics
    -else
      %script{:type => "text/javascript", :src => "/js/flickr.js"}
      %script{:type => "text/javascript", :src => "/js/greader.js"}
      %script{:type => "text/javascript", :src => "/js/twitter.js"}
      %script{:type => "text/javascript", :src => "/js/lastfm.js"}
      %script{:type => "text/javascript", :src => "/js/github.js"}
      %script{:type => "text/javascript", :src => "/js/dailymile.js"}
      %script{:type => "text/javascript", :src => "/js/jd.js"}
  %body
    #container
      #header
        %h1
          %a{:href => '/'}="A website belonging to James Dennes"
        #intro
          I'm a coder, skateboarder, runner, vegan, <a href="http://www.campaignmonitor.com/" target="_blank">Campaign Monitor</a> developer, and more!
        
      #content= yield
      #footer
        I made this using <a href="http://www.ruby-lang.org/" target="_blank">Ruby</a> and put the code on <a href="https://github.com/jdennes/jdenn.es" target="_blank">GitHub</a>. I also have a little <a href="http://blog.jdenn.es" target="_blank">blog</a> and currently take <a href="http://photoaday.jdenn.es" target="_blank">one photo every day</a>.
