!!!
%html
  %head
    %title="James Dennes"
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    %link{:href => versioned_stylesheet('screen'), :media => 'all', :rel => 'stylesheet', :type => 'text/css'}
    %link{:href => 'http://fonts.googleapis.com/css?family=Merriweather:400,300,700,900', :rel => 'stylesheet', :type => 'text/css'}
    = partial :google_analytics
  %body
    #container
      = yield
